button
{
	color: white ;
	background-color: #2e57f7;
	width: 100px;
	height: 40px;
}
input{
	height: 30px;
	width: 400px;

}
.a{
	text-align: center;
	background-color: #7f87a5;

}
.y{
	background-color: #e85b4e;
	height: 500px;
	width: 200px;
	float: left;
}
.f{
	text-align: ;
	font-family:courier;
}
.b{
	font-family:courier;
}
p{
	font-family:courier;

}
.d{
	color: red;
}